
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;

}

.editorContainer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  position: relative;
}

.mdContainer {
  /* height: 50%; */
  width: 80%;
}


.createdAt {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #006edc;
  color: white;
  padding: 5px;
}


.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 800px; */
}

.card {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, scale 0.2s ease-in-out;
  max-width: 300px;
  max-height: 300px;
}


.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  scale: 1.05;
}

.actions {
  top: 5px;
  left: 5px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.icon {
  scale: 1.2;
  color: rgb(54 206 123 / 85%);
}

.plus {
  margin-left: 10px;
  cursor: pointer;
  scale: 1.5;
}
.delete {
  cursor: crosshair;
}



.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  word-break: break-all;
  max-height: 50px;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.searchContainer {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

.searchInput {
  padding: 6px;
  font-size: 17px;
  border: black 1.2px dashed;
  outline: none;
}


@media (max-width: 600px) {
  .container {
    grid-template-columns: 100%;
  }

  .editorContainer {
    padding: 0 5px;
  }

  .grid, .editorContainer, .createdAt {
    width: 100%;
    flex-direction: column;
  }
  
  .createdAt {
    flex-direction: row;
    height: fit-content;
  }
  .mdContainer {
    width: 100%;
    height: 100%;
  }

  .createdAt {
    flex-direction: column;
  }

  .createdAt > * {
    margin: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
