html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  border: none;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 600;
  cursor: pointer;
}
.btn.pink {
  background: #F40365;
  color: white;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-width: 600px) {
  .btn {
    padding: 5px;
    font-size: 1em;
  }
}


.ck-editor {
    height: 50% !important;
    /* height: 100% !important; */
    display: flex;
    flex-direction: column;
    width: clamp(60%, 100%, 100%) !important;
}

.ck-editor__main {
  flex: 1
}

.ck-editor__editable {
  height: 100%;
}

/* .ck-toolbar__items {
  justify-content: space-between;
} */


.remove {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 900;
  color: red;
  padding: 0;
}

.remove:hover {
  cursor: pointer;
}

.busy::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    content: "Saving..";
}

.done::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Saved!";
}